@page "/Create"
@rendermode InteractiveServer
<PageTitle>Create</PageTitle>

<h1>Create</h1>

<input type="text" bind="@name" />
<button class="btn btn-primary" @onclick="save_locally">Create</button>
<input type="dropdown" bind="@level" />

@code {

    string name;
    int level;
    
    void save_locally()
    {

        //Character player = new Character(name, level);
        string jsonString = System.Text.Json.JsonSerializer.Serialize(name);
        File.WriteAllText("Example", jsonString);
    }
}