@page "/Create"
@rendermode InteractiveServer
<PageTitle>Create</PageTitle>

<h1>Character Creator</h1>

<p>
    <label>
        <input @bind="Name" placeholder="Character Name" />
    </label>
    <label>
        <input @bind="Level" placeholder="Character Level"/>
    </label>
    <label>
        <input @bind="Char_Class" placeholder="Character Class"/>
    </label>
</p>
<button onclick="@Save">Save</button>

<ul>
    <li><code>Name</code>: @Name</li>
    <li><code>Level</code>: @Level</li>
    <li><code>Class</code>: @Char_Class</li>
</ul>

@code {
    private string? Name { get; set; }

    private string? Level { get; set; }

    private string? Char_Class { get; set; }

    private void Save()
    {
        //Calling the character class in order to template schema 
        Character temp = new Character(Name, Level, Char_Class);
        //debugger shows that the temp object is being created correctly, 
        temp.Print();
        //converts the object to a json string
        string jsonString = System.Text.Json.JsonSerializer.Serialize<Character>(temp);
        //debugger shows that the jsonString is being created correctly
        Console.WriteLine($"json string: {jsonString}");
        //Create filename with character name, export to json file
        string filename = temp.Name + ".json";
        File.WriteAllText(filename, jsonString);
        //Console log that it worked 
        Console.WriteLine("Saved!");
    }
    
}